<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoAh WebShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/fontawesome-free-5.15.2-web/css/all.css"></script>
    <link rel="stylesheet" href="~/css/modal.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    <link rel="icon" href="~/images/goahLogo.jpeg" type="image/x-icon">
</head>
<body>
    <header>
        @await Html.PartialAsync("/Views/Shared/_NavBar.cshtml")
    </header>
    @await Html.PartialAsync("/Views/Shared/_SideBar.cshtml")
    <div class="container">
        <main role="main" class="pb-3 ml-5">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted mr-auto">
        <div class="container text-center">
            &copy; 2021 - GoAh WebShop
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/fontawesome-free-5.15.2-web/js/all.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
    @*@await RenderSectionAsync("Styles", required: false)*@
</body>
</html>
